<!DOCTYPE html>
<html>
  <head>
    <title>Bookmark Manager</title>
  </head>

  <body>
    <%if current_user %>
      <%=current_user.email%>, welcome to Bookmark Manager!
    <%end%>
    <% if flash[:errors] %>
    <ul>
      <%flash[:errors].each do |error| %>
      <li><%= error %></li>
      <%end%>
    </ul>
    <%end%>
    <%=yield%>
  </body>
</html>
