<!DOCTYPE html>
<html>
  <head>
    <title>Bookmark Manager</title>
  </head>

  <body>
    <%if current_user %>
      <%=current_user.email%>, welcome to Bookmark Manager!
    <%end%>
    <%=yield %>
  </body>
</html>
